<!DOCTYPE html>
<html>
<head>
  <title>Task</title>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div class = "container" style = "padding-top:20px;">
<%= yield %>

</body>
</html>
